Repository dikhan/terraform-provider-openapi, pull requests merged in 2019-11, with the labels that each got.

#182 Bugfix 181/parent id required arrays subresources
  go.sum
  openapi/openapi_v2_resource.go
  openapi/openapi_v2_resource_test.go
Labels: bug, bug-fix

#183 pump up version to 0.22.3
  version
Labels: new version

#186 Preferred name extension (x-terraform-resource-name) on root path level
  docs/how_to.md
  go.mod
  go.sum
  openapi/openapi_v2_resource.go
  openapi/openapi_v2_resource_test.go
  openapi/provider_test.go
  tests/e2e/gray_box_cdns_test.go
  tests/e2e/resources_test.go
Labels: feature request

#189 Bump up version to 0.23.0
  version
Labels: new version
